@using TechAcadStudentsMVC.Models
@model List<Instructor>

@{
    ViewBag.Title = "Insturctors";
}

<h2>Insturctors</h2>

@{ 
    foreach(Instructor instructor in Model)
    {
        <h4>@instructor.FirstName</h4>
    }
}